@import 'scss/style';
.blog-detail-page {
  &__wrapper {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    .page-contents {
      width: 100%;
      max-width: 872px;
      @include media_mobile {
        padding: 16px;
      }
    }
  }
  &__breadcrumb {
    @include media_mobile {
      margin-bottom: 16px;
    }
  }
}
