.breadcrumb-box {
  &__wrapper {
    li {
      line-height: 16px;
      a {
        background: none !important;
        &:hover {
          color: var(--color-primary) !important;
        }
      }
    }
  }
}
