@import 'style';
.categories-page {
  &__header {
    @include media_mobile {
      padding: 16px;
      margin-bottom: 0 !important;
    }
    .ant-breadcrumb {
      .ant-breadcrumb-link {
        a, span {
          font-size: 14px;
          line-height: 150%;
          color: rgb(111, 111, 105);
          cursor: pointer;
          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
    .public-page-header__title {
      font-size: 24px;
      line-height: 130%;
      color: rgb(16, 17, 13);
      font-weight: 600;
      margin-top: 8px;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
